@import "./Root.css";

.centered {
  display: flex;
  /* justify-content: center; */
  align-items: center;
  min-height: 100vh;
  /* flex: 1; */
}

.main-page {
  /* https://spacemonkey925.tistory.com/52 */
  background-image: var(--main-color);
  display: flex;
  flex-direction: column;
}

.title-h1 {
  color: var(--text-color);
  display: inline-block;
  font-size: 80px;
  font-weight: bold;
  padding-bottom: 20px;
}

.title-h2 {
  color: var(--text-color);
  display: inline-block;
  font-size: 30px;
  padding-bottom: 30px;
}

.analyze-page {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* .analyze-page__result {
  display: block;
  margin: 10px 0;
} */
