.item-block {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 300px;
  height: 430px;
  border: 1px solid black;
  flex-shrink: 0;
  margin-bottom: 20px;
}

.item-block__img {
  margin: 40px 0;
  height: 150px;
  width: auto;
  cursor: pointer;
}

.item-block__title {
  padding: 10px 15px;
  cursor: pointer;
}

.item-block-low {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: auto;
  gap: 75px;
  padding: 20px 0;
}

.item-block__cart-btn {
  width: 150px;
  height: 35px;
}

.item-block__price {
  width: 60px;
}

/* .spacer {
  flex-grow: 1;
  background-color: transparent;
  border: transparent;
} */
