@import "../styles/Root.css";

.nav {
  background-color: var(--main-color);
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  width: 100%;
  height: var(--nav-height); /* 헤더 높이 */
  z-index: 1000;
  padding: 20px 0;
  border-bottom: 1px solid rgb(25, 25, 25);
}

.nav img:hover {
  cursor: pointer;
}

.img-right {
  height: 60px;
  display: flex;
  align-items: center;
}

.nav__logo {
  display: inline-block;
  left: 60px;
  width: 120px;
  margin-left: 20px;
  padding: 10px;
  object-fit: contain;
}

.nav__login-email {
}

.nav__cart {
  display: inline-block;
  left: 60px;
  width: 60px;
  margin-left: 20px;
  padding: 10px;
  object-fit: contain;
}

.nav__person {
  display: inline-block;
  left: 60px;
  width: 60px;
  margin-left: 20px;
  padding: 10px;
  object-fit: contain;
}

.nav__log-in-out {
  display: inline-block;
  left: 60px;
  width: 60px;
  margin-left: 20px;
  padding: 10px;
  object-fit: contain;
}
